.benefits
  .benefits__list
    .benefits__list-item
      +svg("discount", "40", "40")
      h3.benefits__title Вы экономите
      .benefits__text Это дешевле на 40% чем покупать по одному букету
    .benefits__list-item
      +svg("bunch-green", "40", "40")
      h3.benefits__title Свежие цветы
      .benefits__text Доставка от местных поставщиков, цветы cобираем прямо перед доставкой
    .benefits__list-item
      +svg("bouquet", "40", "40")
      h3.benefits__title Красота всегда
      .benefits__text Вам не надо помнить о цветах. Самый красивый букет у вас дома или в офисе