.faq
  h2.faq__title Частые вопросы
  .faq__accord.js-Accordion( id="accordion")
    button.faq__btn Как это работает?
      +svg("cross", "14", "15")
    .faq__answer
      span Выбираете стилистику букетов, привязываете карту и получаете свежий букет каждую неделю!
    button.faq__btn Сколько это стоит?
      +svg("cross", "14", "15")
    .faq__answer
      span Выбираете стилистику букетов, привязываете карту и получаете свежий букет каждую неделю!
    button.faq__btn А можно подарить подписку?
      +svg("cross", "14", "15")
    .faq__answer
      span Выбираете стилистику букетов, привязываете карту и получаете свежий букет каждую неделю!