.button {
  @include button-reset-style;
  font-size: 17px;
  line-height: 22px;
  color: $color-white;
  border-radius: 8px;
  background-color: $color-black-btn;
  padding: 17px 33px;
  text-align: center;
  transition: background-color 0.3s;
  box-sizing: border-box;

  &:hover {
    background-color: #191E29;
    color: $color-white;
    text-decoration: none;
  }

  @include mobile {
    font-size: size(17px);
    line-height: size(22px);
    border-radius: size(8px);
    padding: size(17px) size(33px);
  }
}