extends pug/layout.pug

block content
      div(style="background:grey; height: 100vh")
        .modal-content( style="box-shadow: none; margin: auto; ")
          button.modal-close(type='button' data-dismiss='modal' aria-label='Close')
            +svg("close-modal", "48", "48")
          .product-info.js-body
            .product-info__gallery
              .product-slider.swiper-container
                .swiper-wrapper
                  .swiper-slide.product-slider__item
                    img(src="img/bunch-4@1x.jpg" srcset="img/bunch-4@2x.jpg 2x" alt="букет")
                  .swiper-slide.product-slider__item
                    img(src="img/bunch-1@1x.jpg" srcset="img/bunch-1@2x.jpg 2x" alt="букет")
                  .swiper-slide.product-slider__item
                    img(src="img/bunch-2@1x.jpg" srcset="img/bunch-2@2x.jpg 2x" alt="букет")
                .swiper-button-prev.product-slider__prev.product-slider__btn
                  +svg("slider-arrow-prev", "11", "18")
                .swiper-button-next.product-slider__next.product-slider__btn
                  +svg("slider-arrow-next", "11", "18")
                .swiper-pagination.product-slider__pagination
              button.product-info__favorite-mob.product-info__favorite-mob--is-added(type="button")
                +svg("to-fav-white", "22", "20")
            .product-info__content
              .product-info__content-inner
                .product-info__header
                  h2.product-info__title
                    | Chernichny
                  .product-info__discription
                    .product-info__discription-text Контрастный букет среднего размера, собранный только из сезонных цветов.
                      br
                      | В состав входят:
                      br
                      |· Черничные каллы
                      br
                      |· Черничные каллы
                      br
                      |· Черничные каллы
                      br
                      |· Черничные каллы
                      .product-info__discription-show
                  //- form
                    //- .product-info__color
                    //-   .product-info__color-inner
                    //-     input.visually-hidden#red(type='radio' name='color' value='red' checked)
                    //-     label(for='red' style="background-color: #942945; border: 1px solid #942945;")
                    //-     input.visually-hidden#black(type='radio' name='color' value='black')
                    //-     label(for='black' style="background-color: #3A2F3D; border: 1px solid #3A2F3D;")
                    //-     input.visually-hidden#green(type='radio' name='color' value='green')
                    //-     label(for='green' style="background-color: #557464; border: 1px solid #557464;")

                  .product-info__cover
                    .product-info__center
                      .product-info__cover-inner
                        input.visually-hidden#craft(type='radio' name='cover' value='craft' checked)
                        label(for='craft') Крафт
                        input.visually-hidden#film(type='radio' name='cover' value='film')
                        label(for='film') Пленка
                        input.visually-hidden#nothing(type='radio' name='cover' value='nothing')
                        label(for='nothing') Без упаковки
                        .product-info__chosen
                      .product-info__cover-text Упаковка: Стандатртная крафтофая бумага


                .product-info__add
                  h2.product-info__add-title Добавить к заказу
                  .product-info__add-slider.swiper-container.product-add-slider
                    .swiper-wrapper
                      .swiper-slide.product-add-slider__item
                        img(src="img/sweets.jpg" alt="Конфеты")
                        h3.product-add-slider__title Конфеты AOKI
                        .product-add-slider__add-to-cart
                          .product-add-slider__price 990 ₽
                          button.product-add-slider__btn.product-add-slider__btn--is-chosen
                            +svg("round-tick", "20", "20")
                      .swiper-slide.product-add-slider__item
                        img(src="img/glasses.jpg" alt="букет")
                        h3.product-add-slider__title Vaze Classic
                        .product-add-slider__add-to-cart
                          .product-add-slider__price 550 ₽
                          button.product-add-slider__btn
                            +svg("round-tick", "20", "20")
                      .swiper-slide.product-add-slider__item
                        img(src="img/fruits.jpg" alt="букет")
                        h3.product-add-slider__title Fruits Classic
                        .product-add-slider__add-to-cart
                          .product-add-slider__price 550 ₽
                          button.product-add-slider__btn
                            +svg("round-tick", "20", "20")
                      .swiper-slide.product-add-slider__item
                        img(src="img/sweets.jpg" alt="Конфеты")
                        h3.product-add-slider__title Конфеты AOKI
                        .product-add-slider__add-to-cart
                          .product-add-slider__price 990 ₽
                          button.product-add-slider__btn
                            +svg("round-tick", "20", "20")
                      .swiper-slide.product-add-slider__item
                        img(src="img/glasses.jpg" alt="букет")
                        h3.product-add-slider__title Vaze Classic
                        .product-add-slider__add-to-cart
                          .product-add-slider__price 550 ₽
                          button.product-add-slider__btn
                            +svg("round-tick", "20", "20")
                      .swiper-slide.product-add-slider__item
                        img(src="img/fruits.jpg" alt="букет")
                        h3.product-add-slider__title Fruits Classic
                        .product-add-slider__add-to-cart
                          .product-add-slider__price 550 ₽
                          button.product-add-slider__btn
                            +svg("round-tick", "20", "20")

                    .swiper-button-next.product-add-slider__next
                      +svg("slider-arrow-next-white", "11", "18")


                .product-info__features
                  .product-info__feature
                    .product-info__feature-icon
                      svg(width='26px' height='22px')
                        use(xlink:href='/local/templates/germen/icons/icons.svg?v=1.3#feature-car')
                    h5.product-info__feature-title Бесплатная доставка
                    p.product-info__feature-text
                      | Бесплатно и быстро доставим букет — от 60
                      | минут в пределах МКАД.*
                    p.product-info__feature-note
                      span.product-info__feature-note-star *
                      |  Доставка за МКАД —
                      |                     500 руб
                  .product-info__feature
                    .product-info__feature-icon
                      svg(width='19px' height='26px')
                        use(xlink:href='/local/templates/germen/icons/icons.svg?v=1.3#feature-paper')
                    h5.product-info__feature-title Открытка в подарок
                    p.product-info__feature-text
                      | К каждому букету дарим открытку в конверте, подписанную от вашего имени. Просто введите текст при оформлении заказа.
                  .product-info__feature
                    .product-info__feature-icon
                      svg(width='26px' height='22px')
                        use(xlink:href='/local/templates/germen/icons/icons.svg?v=1.3#feature-camera')
                    h5.product-info__feature-title Контроль на каждом этапе
                    p.product-info__feature-text
                      | Пришлем фото всех цветов на базе, сфотографируем букет и подписанную открытку перед отправкой.

                  .product-info__feature
                    .product-info__feature-icon
                      svg(width='20px' height='26px')
                        use(xlink:href='/local/templates/germen/icons/icons.svg?v=1.3#feature-badge')
                    h5.product-info__feature-title Гарантия качества
                    p.product-info__feature-text
                      | Возвращаем деньги, если цветы окажутся несвежими или завянут в день доставки.
                .product-info__row.product-info__row--baseline.product-info__row
                  .product-info__cell.product-info__time
                    +svg("delivery-time", "28", "18")
                    span 60 мин.
                  .product-info__cell
                    .payment-systems
                      .payment-systems__item(aria-label='Оплата по счёту')
                        .payment-systems__icon.payment-systems__icon--invoice
                          +svg("account","24", "19")
                      .payment-systems__item(aria-label='MasterCard')
                        .payment-systems__icon.payment-systems__icon--mastercard
                          +svg("mastercard","28", "18")
                      .payment-systems__item(aria-label='Visa')
                        svg.payment-systems__icon.payment-systems__icon--visa(width='49' height='17' viewBox='0 0 49 17' fill='none' xmlns='http://www.w3.org/2000/svg')
                          path#Vector(d='M18.6774 0.737724L12.288 15.9773H8.13382L4.99559 3.8308C4.81497 3.08575 4.63435 2.81483 4.06992 2.49875C3.0991 1.97947 1.54127 1.48277 0.164062 1.18927L0.254371 0.737724H6.95981C7.81774 0.737724 8.58537 1.30215 8.76598 2.29555L10.4367 11.1007L14.5458 0.737724H18.6774ZM35.0007 11.0104C35.0233 6.99162 29.4467 6.76584 29.4693 4.98224C29.4919 4.44039 30.0111 3.85338 31.14 3.69534C31.7044 3.62761 33.2623 3.55988 35.0233 4.37266L35.7232 1.14411C34.7749 0.805455 33.5558 0.466797 32.0431 0.466797C28.1598 0.466797 25.4054 2.5439 25.3828 5.50152C25.3602 7.69151 27.347 8.91068 28.8371 9.65573C30.3724 10.4008 30.8917 10.8749 30.8917 11.5522C30.8691 12.5682 29.6725 13.0197 28.5436 13.0423C26.5568 13.0649 25.4054 12.5005 24.5023 12.0715L23.7798 15.4129C24.7055 15.8419 26.3988 16.2031 28.1598 16.2257C32.2915 16.2257 34.9781 14.1712 35.0007 11.0104ZM45.2959 15.9773H48.9309L45.7475 0.737724H42.3835C41.6158 0.737724 40.9837 1.16669 40.7128 1.84401L34.7975 15.9548H38.9291L39.7419 13.6745H44.7992L45.2959 15.9773ZM40.8934 10.5814L42.9705 4.86936L44.1671 10.5814H40.8934ZM24.2991 0.737724L21.048 15.9773H17.1196L20.3707 0.737724H24.2991Z' fill='url(#paint0_linear)')
                          defs
                            lineargradient#paint0_linear(x1='0.164062' y1='8.34153' x2='48.9309' y2='8.34153' gradientUnits='userSpaceOnUse')
                              stop(stop-color='#24215B')
                              stop(offset='1' stop-color='#0C509F')

                .product-info__action
                  #input_div.product-info__ammount
                    input#moins(type='button' value='-')
                    input#count(type='number' size='1' value='1' max="99")
                    input#plus(type='button' value='+' )
                  a.button.product-info__order-button(href='')
                    .promo-item__delivery__text Заказать · <span>2 750</span> ₽
                  button.product-info__favorite-desktop.red-heart(type="button")
